// import local fonts

@font-face {
    font-family: "Google Sans Display";
    src: url("fonts/GoogleSansDisplayRegular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Google Sans Display";
    src: url("fonts/GoogleSansDisplayMedium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Google Sans Display";
    src: url("fonts/GoogleSansDisplayBold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/RobotoRegular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/RobotoMedium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/RobotoBold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: spotify-circular;
    src: url("fonts/SpotifyCircular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: spotify-circular;
    src: url("fonts/SpotifyCircularBlack.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: spotify-circular;
    src: url("fonts/SpotifyCircularBold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}

$base-font: "Google Sans Display","Roboto",spotify-circular,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
$info-font: "Roboto",sans-serif;

// font variants

.bold {
    font-weight: bold;
}

.light {
    font-weight: lighter;
}
