@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

code[class*="language-"],
pre[class*="language-"] {
  color: #f8fafc;
  font-family: 'Source Code Pro', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code[class*="language-"] span,
pre[class*="language-"] span {
  font-family: 'Source Code Pro', monospace;
}

/* pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #1e293b;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #1e293b;
} */

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: #1e293b;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.rule {
  color: #cbd5e1;
}

.token.comment {
  color: #94a3b8;
  font-style: italic
}

.token.keyword {
  color: #89DDFF;
  
}

.token.operator {
  color: #94a3b8;
}

.token.punctuation {
  color: #64748b;
  
}

.token.builtin {
  color: #FF9E64;
  
}

.token.number {
  color: #FF9E64;
  
}

.token.string {
  color: #7dd3fc;
  
}

.token.symbol {
  color: #9ECE6A;
  
}

.token.constant {
  color: #9ECE6A;
  
}

.token.attr-name {
  color: #cbd5e1;
  
}

.token.attr-value {
  color: #7dd3fc;
}

.token.selector {
  color: #f472b6;
  
}

.token.hexcode {
  color: #9AA5CE;
  
}

.token.function {
  color: #99f6e4;
  
}

.token.tag {
  color: #f472b6;
  
}

.token.variable {
  color: #E0AF68;
  
}

.token.char {
  color: #BB9AF7;
  
}

.token.property {
  color: #7dd3fc;
  
}

.token.inserted {
  color: #449DAB;
  
}

.token.deleted {
  color: #914C54;
  
}

.token.changed {
  color: #6183BB;
  
}

.token.regex {
  color: #B4F9F8;
  
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}